/*
*
*	Style for all controls
*
*/

/*
*	Textbox
*	
*/

.op-control-textbox input, .op-control-slider input {
	padding: 6px 10px;
	border-radius: 3px;
}

.op-control-textarea textarea {
	max-height: 200px;
	-webkit-resize: vertical;
	-moz-resize: vertical;
	resize: vertical;
	height: 100px;
}

/*
*	Toggle
*
*/

.op-control-toggle *  {
	-webkit-box-sizing: content-box !important;
	-ms-box-sizing: content-box !important;
	box-sizing: content-box !important;
}
/*
*	Codeeditor
*
*/

.op-control-codeeditor .op-js-codeeditor{
	min-height: 200px;
	border-width: 1px;
	border-style: solid;
	border-color: #ddd;
	border-radius: 3px;
}

/*
*	Slider Numeric
*
*/

.op-control-slider .slideinput {
	position: absolute;
	top: 0;
	right: 0;
	width: 65px;
	margin-top: -5px;
	text-align: center;
}
.op-control-slider {
	padding: 10px 80px 10px 0;
}
.op-control-slider .ui-slider-range { background: #333; }
.op-control-slider .ui-slider-handle { border-color: #1e8cbe; }

/*
*	Color Picker
*
*/

.op-control-colorpicker .wp-color-result {
	box-sizing: content-box !important;
}

/*
*	Upload
*
*/

.op-control-upload .images{
	margin-top: 10px
}

.op-control-upload .images .image{
	display: inline-block;
	min-width: 200px;
	min-height: 113px;
	float: left;
	text-align: center;
	position: relative;
	border: 1px solid #333;
	margin-right: 10px;
	margin-bottom: 10px;
	line-height: 0;
	-webkit-box-shadow: inset 0 0 15px rgba(0,0,0,.1),inset 0 0 0 1px rgba(0,0,0,.05);
	box-shadow: inset 0 0 15px rgba(0,0,0,.1),inset 0 0 0 1px rgba(0,0,0,.05);
	background: #eee;
	cursor: pointer;
}

.op-control-upload .op-remove-media {
	position: absolute;
	right: 0;
	top: 0;
}

/*
*	Select
*
*/

.op-control-select .chosen-choices .search-field input, .chosen-container-multi .chosen-choices {
    min-height: 26px;
	width: 100% !important;
	
}

.op-control-select .chosen-container-single {
	min-height: 30px;
}
.op-control-select .chosen-container-single .chosen-single {
	height: 30px;
}

/*
*	Fix for chosen jquery lib (conflict with parent display:none)
**/

.op-control-select .chosen-container { width: 100% !important; }

/*
*	Checkbox && RadioButton
*
*/

.op-control-checkbox label, .op-control-radiobutton label, .op-control-checkimage label, .op-control-radioimage label  {
	margin: 5px;
	display: inline-block;
}

/*
*	Checkimage && Radioimage
*
*/

.op-control-checkimage img, .op-control-radioimage img {
	border-width: 1px;
	border-style: solid;
	border-color: #ddd;
	border-radius: 3px;
	padding: 3px;
}

.op-control-checkimage input.checked ~ img, .op-control-radioimage input.checked ~ img {
	border-color: #1e8cbe;
	background-color: #1e8cbe;
}

/*
*	Control Header
*/
.op-control-header-wrapper{
	border-bottom: 1px dashed #333;
	padding-left: 15px;
	padding-bottom: 15px;
	padding-top: 15px;
	margin-bottom: 15px;
	
}

.op-control-header-wrapper .title{
	font-weight: bold;
	font-size: 24px; 
	vertical-align: middle;
}

.op-control-header-wrapper .description{
	padding-top: 10px;
}

/*
*	Notebox
*
*/

.op-control-notebox-wrapper {
	border-width: 1px;
	border-style: solid;
	border-radius: 3px;
	display: block;
	padding: 10px 20px 10px 55px;
	position: relative;
	margin: 10px 0;
	min-height: 50px;
	width: auto;
}

.op-control-notebox-wrapper>i {
	display: block;
	font-size: 30px;
	line-height: 1em;
	left: 0;
	margin: 9px;
	-ms-filter: "alpha(opacity=30)";
	filter: alpha(opacity=30);
	opacity: .3;
	position: absolute;
	text-align: center;
	top: 0;
	width: 30px;
}

.op-control-notebox-wrapper>.label {
	display: block;
	width: auto;
	padding: 0 !important;
	font-weight: bold;
}

.op-control-notebox-wrapper>.description p {
	margin: 0;
}

.op-control-notebox-wrapper.note-normal {
	background-color: #eee;
	border-color: #ccc;
	color: #666;
}

.op-control-notebox-wrapper.note-info {
	background-color: #d1e4f3;
	border-color: #a8b6c1;
	color: #5881a1;
}

.op-control-notebox-wrapper.note-normal {
	background-color: #eee;
	border-color: #ccc;
	color: #666;
}

.op-control-notebox-wrapper.note-success {
	background-color: #c4ec94;
	border-color: #70ad60;
	color: #4d751c;
}

.op-control-notebox-wrapper.note-warning {
	background-color: #fee9a6;
	border-color: #d9c183;
	color: #978138;
}

.op-control-notebox-wrapper.note-error {
	background-color: #ffa2a3;
	border-color: #bc515b;
	color: #9c1825;
}

/*
*	Groups
*
*/

.op-group-wrapper {
	border-radius: 3px;
	padding: 10px;
}

.op-group-wrapper .op-group {
	background: #fff;
	border: 1px solid #e5e5e5;
	border-radius: 3px;
	margin: 6px 0px;
	position: relative;
}

.op-group-wrapper .op-group .op-group-heading {
	background-color: #f9f9f9;
	border-bottom: 1px solid #e5e5e5;
	font-size: .9em;
	font-weight: bold;
	line-height: 30px;
	padding: 0 10px;
	text-transform: uppercase;
	padding-right: 80px;
	height: 35px;
}

.op-loop .op-group .op-group-remove {
	position: absolute;
	top: 0;
	right: 0;
	margin: 0 10px;
	color: #c0392b;
	height: 100%;
}

.op-group-wrapper .op-group .op-group-heading .op-group-title {
	display: block;
	height: 100%;
	overflow: hidden;
}

.op-group-wrapper .op-group .op-group-heading a {
	text-decoration: none;
}

.op-group-wrapper .op-group .op-group-heading a i {
	margin-right: 5px;
}

.op-loop .op-group-add{
	margin-top: 15px;
	margin-bottom: 15px;
	overflow: hidden;
}

.op-loop .op-group-add>a {
	display: block;
	text-align: center;
	text-transform: uppercase;
	font-weight: bold;
	background-color: #2c3e50;
	color: #fff;
	text-decoration: none;
	min-width: 120px;
	width: auto;
	float: right;
	padding: 10px 15px;
	line-height: 1;
	height: auto;
}

.op-loop .op-group-add .list-item-description{
	padding-top: 5px;
}

.op-group-wrapper .op-group .op-controls {
	padding-top: 10px;
	width: 100%;
	position: relative;       
}

.op-group-wrapper .op-group .op-controls.closed {
	display: none;
}

.op-loop .op-sortable-placeholder {
	border: 1px dashed #ccc;
	display: block;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
}

/*
*	Link
**/
.op-control-link {
	display: table;
}

.op-control-link .op_title_link_container{
	display: table-cell;
	vertical-align: middle;
}

.op-control-link .op_module_link_span{
	padding-right: 10px;
	padding-left: 10px;
}

.op-control-link .op-remove-link-button{
	font-size: 18px;
}
